<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test_MC_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Test_MC_Launcher.Properties.Settings>
            <setting name="Wersja" serializeAs="String">
                <value />
            </setting>
            <setting name="mc1122" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1132" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1165" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1164" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1163" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1162" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1161" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc116" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1152" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1151" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc115" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1144" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1143" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1142" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1141" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc114" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1131" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc113" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1121" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc112" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1112" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1111" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc111" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1102" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1101" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc110" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc194" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc193" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc192" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc191" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc189" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc188" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc187" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc186" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc185" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc184" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc183" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc182" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc181" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc1710" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc179" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc178" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc177" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc176" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc175" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc174" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc172" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc164" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc162" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc161" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc152" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc151" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc147" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc146" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc145" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc144" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc143" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc142" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc132" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc131" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc125" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc124" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc123" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc122" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc121" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mc117" serializeAs="String">
                <value>False</value>
            </setting>
        </Test_MC_Launcher.Properties.Settings>
    </userSettings>
</configuration>